<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ppro?autoReconnect=true&amp;characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">*</property>
    <property name="hibernate.connection.password">*</property>
    <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="javax.persistence.validation.mode">NONE</property>
    
     <property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.idle_test_period">3000</property>
    
    <mapping class="cz.uhk.ppro.domain.User"/>
    <mapping class="cz.uhk.ppro.domain.Aktivita"/>
    <mapping class="cz.uhk.ppro.domain.Komentar"/>
    <mapping class="cz.uhk.ppro.domain.PolozkaTreninkovehoPlanu"/>
    <mapping class="cz.uhk.ppro.domain.Foto"/>
  </session-factory>
</hibernate-configuration>